<!-- bandcamp embed code from e.g. https://iframely.com/embed/https%3A%2F%2Fthehouseorgan.bandcamp.com%2Falbum%2Falways-on-the-move-always-going-somewhere-though-where-this-will-be-is-not-entirely-pre-dictable?_artwork=big to allow some resizing -->

<div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 100%; padding-top: 135px;">
    <iframe src="https://bandcamp.com/EmbeddedPlayer/album={{ . }}/size=large/bgcol=ffffff/linkcol=9b9b9b/tracklist=false/transparent=true/" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen scrolling="no" allow="encrypted-media;"></iframe>
</div>
