{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
<div class="fl w-50 w-third-ns pa1 pa2-l">
  <a href="{{ .Permalink }}" class="db aspect-ratio aspect-ratio--1x1 dim">
    <picture>
      <source type="image/avif" srcset="{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_200.avif, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_300.avif 1.5x, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600.avif 3x" />
      <source type="image/webp" srcset="{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_200.webp, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_300.webp 1.5x, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600.webp 3x" />
      <img srcset="{{ absURL " /images/albums/" }}{{ path.BaseName .Params.Image }}-w_200{{ path.Ext .Params.Image }}, {{
        absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_300{{ path.Ext .Params.Image }} 1.5x, {{
        absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }} 3x" src="{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}" width="600" height="600"
        class="w-100" alt="{{ .Params.imgalt }}" />
    </picture>
  </a>
</div>


<!--
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    {{ partial "tags" . }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
    <img src="{{ .Permalink }}{{ .Params.Image }}" />




  </p>-->
{{ end }}
