<!-- listenlinks -->
<div class="pa2 ph0-l">
    {{ with .Listen.resonate }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/resonatelogo.html" . }}</a>{{ end }}
    {{ with .Listen.bandcamp }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/bandcamplogo.html" . }}</a>{{ end }}
    {{ with .Listen.download }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/download.html" . }}</a>{{ end }}
    {{ with .Listen.archive }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/archivelogo.html" . }}</a>{{ end }}
    {{ with .Listen.tidal }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/tidallogo.html" . }}</a>{{ end }}
    {{ with .Listen.apple }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/applemusiclogo.html" . }}</a>{{ end }}
    {{ with .Listen.spotify }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/spotifylogo.html" . }}</a>{{ end }}
    {{ with $Album := .Album }}{{ with $Album.Params.listen.cclink }}
        <a class="pr2 dim" href="{{ . }}">{{ partial "albums/logos/cclogo.html" (dict "cclink" . "cc" $Album.Params.cc)}}</a>{{ end }}{{ end }}
</div>
