<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src fonts.gstatic.com; frame-src bandcamp.com; style-src 'self' 'unsafe-inline'">

{{ hugo.Generator }}

<meta name="author" content="{{ $.Site.Params.siteauthor }}">

{{ if isset .Params "description" }}
<meta name="description" content="{{ .Params.description }}">
{{ else }}
<meta name="description" content="{{ $.Site.Params.description }}">
{{ end }}