<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else if isset .Params "artists" }}{{ .Title }} | {{ with .Params.artists }}{{ delimit . ", " " & " }}{{ end }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta property="og:type" content="{{ if and (eq .Section "albums") (eq .Kind "page") }}music.album{{ else if and (eq .Section "artists") (eq .Kind "term") }}profile{{ else }}website{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ $.Site.Params.description }}{{ end }}">
<meta property="og:image" content="{{ if and (eq .Section "albums") (eq .Kind "page") }}{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}{{ else if and (eq .Section "artists") (eq .Kind "term") }}{{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}{{ else if and (eq .Section "gigs") (eq .Kind "term") }}{{ absURL "/images/gigs/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}{{ else }}{{ absURL "/images/" }}tho_sq-w_600.png{{ end }}">
<meta property="og:image:width" content="600px">
<meta property="og:image:height" content="600px">
<meta property="og:image:alt" content="{{ if isset .Params "imgalt" }}{{ .Params.imgalt }}{{ else }}{{ end }}">