<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@trippingonwirez">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else if isset .Params "artists" }}{{ .Title }} | {{ with .Params.artists }}{{ delimit . ", " " & " }}{{ end }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ $.Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ if and (eq .Section "albums") (eq .Kind "page") }}{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}{{ else if and (eq .Section "artists") (eq .Kind "term") }}{{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}{{ else if and (eq .Section "gigs") (eq .Kind "term") }}{{ absURL "/images/gigs/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}{{ else }}{{ absURL "/images/" }}tho_sq-w_600.png{{ end }}">
<meta name="twitter:image:alt" content="{{ if isset .Params "imgalt" }}{{ .Params.imgalt }}{{ else }}{{ end }}">