{{- define "main" -}}


<!-- bandcamp embed section. splits to half screen at large -->
<div class="w-100 w-50-l bg-tho-white pa1 pa3-l">
    <div class="w-70 w-60-l center pv1">
      <div class="mw7 mw6-ns center">
        {{ if isset .Params "image" }}
        <picture>
            <source type="image/avif" srcset="{{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_200.avif 200w, {{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_300.avif 300w, {{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_600.avif 600w" />
            <source type="image/webp" srcset="{{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_200.webp 200w, {{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_300.webp 300w, {{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_600.webp 600w" />
            <img srcset="{{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_200{{ path.Ext .Params.Image }} 200w, {{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_300{{ path.Ext .Params.Image }} 300w, {{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }} 600w" src="{{ absURL "/images/artists/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}" width="600" height="600" class="w-100" alt="{{ if isset .Params "imgalt" }}{{ .Params.imgalt }}{{ else }}{{ end }}" />
        </picture>
        {{ else }}
        <picture>
            <source type="image/avif" srcset="{{ absURL "/images/" }}tho_sq-w_200.avif 200w, {{ absURL "/images/" }}tho_sq-w_300.avif 300w, {{ absURL "/images/" }}tho_sq-w_600.avif 600w" />
            <source type="image/webp" srcset="{{ absURL "/images/" }}tho_sq-w_200.webp 200w, {{ absURL "/images/" }}tho_sq-w_300.webp 300w, {{ absURL "/images/" }}tho_sq-w_600.webp 600w" />
            <img srcset="{{ absURL "/images/" }}tho_sq-w_200.png 200w, {{ absURL "/images/" }}tho_sq-w_300.png 300w, {{ absURL "/images/" }}tho_sq-w_600.png 600w" src="{{ absURL "/images/" }}tho_sq-w_600.png" width="600" height="600" class="w-100" alt="The House Organ logo which is a black and white image of an old harmonium/pump organ." />
          </picture>
        {{ end }}  
      </div>
    </div>
</div>

<!-- main content section. splits to half screen at large -->
<div class="w-100 w-50-l pa3 tho-white bg-tho-grey-dark tc tl-l overflow-y-scroll mb5">

    <!-- width constraining block for large only -->
    <div class="w-80-l">
  
      <!-- article header block for spacing -->
      <div class="pv2">

      <!-- article (album) title. note custom letter spacing -->
      <h2 class="tc tl-l fw5 lh-solid ma2 ma0-ns f3 tho-title">
        <a class="link tho-white" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h2>
  
      <!-- article (album/artist etc) content -->
  
      <div class="w-90-ns w-100-l center tc tl-l">
        {{ .Content | replaceRE "<p>" "<p class=\"f6 lh-copy\">" | replaceRE "<a href" "<a class=\"link tho-grey-mid dim underline-hover\" href" | safeHTML}}
      </div>
  
    </div>
  
  </div>

  {{ $pages := .Pages }}
{{ range $pages.ByPublishDate.Reverse }}
<div class="fl w-50 w-third-ns pa1 pa2-l">
  <a href="{{ .Permalink }}" class="db aspect-ratio aspect-ratio--1x1 dim">
    <picture>
      <source type="image/avif" srcset="{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_200.avif 200w, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_300.avif 300w, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600.avif 600w" />
      <source type="image/webp" srcset="{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_200.webp 200w, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_300.webp 300w, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600.webp 600w" />
      <img srcset="{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_200{{ path.Ext .Params.Image }} 200w, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_300{{ path.Ext .Params.Image }} 300w, {{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }} 600w" src="{{ absURL "/images/albums/" }}{{ path.BaseName .Params.Image }}-w_600{{ path.Ext .Params.Image }}" width="600" height="600" class="w-100" alt="" />
    </picture>
  </a>
</div>

{{ end }}

{{- end -}}