<svg role="img" aria-labelledby="archivelogotitle archivelogodesc" version="1.1" class="listenlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="none" xml:space="preserve"
        width="24px" height="24px">
  <title id="archivelogotitle">Download from Internet Archive</title>
  <desc id="archivelogodesc">Link to download from Internet Archive</desc>
  <path fill="#fff"
          d="M94.3721 95.3488V100H6L6.00094 95.3488H94.3721ZM90.8837 88.3721V94.186H9.48837V88.3721H90.8837ZM18.0121 25.5814L18.9823 26.0718L19.4679 33.9132L19.9535 46.6546V58.9085L19.4679 74.1835L19.3871 84.474L18.0121 84.8837H13.159L11.7031 84.474L11.1377 74.1835L10.6512 58.9901V46.7372L11.1377 33.9132L11.5815 26.0296L12.5935 25.5814H18.0121ZM87.78 25.5814L88.7514 26.0718L89.2362 33.9132L89.7209 46.6546V58.9085L89.2362 74.1835L89.1563 84.474L87.78 84.8837H82.9269L81.4708 84.474L80.9034 74.1835L80.4186 58.9901V46.7372L80.9034 33.9132L81.3491 26.0296L82.3604 25.5814H87.78ZM38.9421 25.5814L39.9124 26.0718L40.3981 33.9132L40.8837 46.6546V58.9085L40.3981 74.1835L40.3182 84.474L38.9421 84.8837H34.0885L32.6316 84.474L32.0661 74.1835L31.5814 58.9901V46.7372L32.0661 33.9132L32.5118 26.0296L33.5221 25.5814H38.9421ZM65.6863 25.5814L66.6566 26.0718L67.1423 33.9132L67.6279 46.6546V58.9085L67.1423 74.1835L67.0624 84.474L65.6863 84.8837H60.8327L59.3767 84.474L58.8103 74.1835L58.3256 58.9901V46.7372L58.8103 33.9132L59.256 26.0296L60.2672 25.5814H65.6863ZM90.8837 15.1163V23.2558H9.48837V15.1163H90.8837ZM49.3487 0L92.0465 9.77771L90.3349 12.7907H8.55812L6 10.3472L49.3487 0Z" />
</svg>