<svg role="img" aria-labelledby="bandcamplogotitle bandcamplogodesc" version="1.1" class="listenlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="none"
        xml:space="preserve" width="24px" height="24px">
  <title id="bandcamplogotitle">Download on Bandcamp</title>
  <desc id="bandcamplogodesc">Link to download, listen, or buy on Bandcamp</desc>
  <path fill="#fff" d="M50 0C22.379 0 0 22.379 0 50C0 77.621 22.379 100 50 100C77.621 100 100 77.621 100 50C100 22.379 77.621 0 50 0ZM59.7177 65.746H23.2258L40.3024 34.2742H76.7944L59.7177 65.746Z" />
</svg>