<svg role="img" aria-labelledby="resonatelogotitle resonatelogodesc" version="1.1" class="listenlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="none"
        xml:space="preserve" width="24px" height="24px">
  <title id="resonatelogotitle">Stream on Resonate</title>
  <desc id="resonatelogodesc">Link to listen on Resonate</desc>
  <path fill="#fff"
          d="M50 0C22.3858 0 0 22.3858 0 50C0 77.6142 22.3858 100 50 100C77.6142 100 100 77.6142 100 50C100 22.3858 77.6142 0 50 0ZM39.749 39.856C36.978 42.544 35.255 46.307 35.255 50.473C35.255 54.45 36.826 58.059 39.379 60.717L28.502 71.594C25.833 68.873 23.728 65.721 22.247 62.219C20.672 58.497 19.874 54.545 19.874 50.473C19.874 46.402 20.673 42.449 22.247 38.727C23.767 35.133 25.942 31.907 28.712 29.137C28.7385 29.1105 28.7655 29.0845 28.7925 29.0585C28.8195 29.0325 28.8465 29.0065 28.873 28.98L39.749 39.856ZM80.222 50.473C80.222 54.544 79.423 58.496 77.849 62.219C76.368 65.721 74.263 68.873 71.595 71.594L60.718 60.717C63.271 58.058 64.842 54.449 64.842 50.472C64.842 46.307 63.119 42.544 60.348 39.855L71.223 28.98C71.277 29.033 71.331 29.084 71.384 29.137C74.154 31.907 76.329 35.133 77.849 38.727C79.424 42.449 80.222 46.401 80.222 50.473Z" />
</svg>