<svg role="img" aria-labelledby="spotifylogotitle spotifylogodesc" version="1.1" class="listenlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="none" xml:space="preserve"
        width="24px" height="24px">
  <title id="spotifylogotitle">Listen on Spotify</title>
  <desc id="spotifylogodesc">Link to listen on Spotify</desc>
  <path fill="#fff"
          d="M50 0C22.3864 0 0 22.3841 0 50C0 77.6159 22.3864 100 50 100C77.6136 100 100 77.6159 100 50C100 22.3841 77.6136 0 50 0ZM74.3939 72.078C73.5909 73.5 72.1137 74.3 70.591 74.3C69.8788 74.3 69.1439 74.122 68.4697 73.747C62.2273 70.247 55.4243 68.103 48.2349 67.375C41.0303 66.653 33.9167 67.3841 27.0833 69.5659C24.803 70.2939 22.3485 69.0341 21.6212 66.75C20.8864 64.4621 22.1515 62.0159 24.4394 61.2841C32.4091 58.7379 40.7197 57.872 49.1136 58.725C57.4924 59.578 65.4318 62.078 72.7197 66.1629C74.8182 67.3311 75.5681 69.9811 74.3939 72.078ZM80.3788 56.8909C79.606 58.378 78.0909 59.2311 76.5227 59.2311C75.8409 59.2311 75.1591 59.075 74.5151 58.7379C66.8409 54.7409 58.553 52.2659 49.8636 51.3841C41.106 50.4879 32.4318 51.2689 24.0682 53.6811C21.7576 54.3371 19.3485 53.0159 18.6894 50.7061C18.0228 48.4 19.356 45.9909 21.6591 45.325C31.0985 42.603 40.8863 41.7311 50.7424 42.7311C60.5303 43.728 69.8788 46.5159 78.5379 51.028C80.6591 52.1379 81.4924 54.7621 80.3788 56.8909ZM82.5454 44.2561C81.8939 44.2561 81.2349 44.1091 80.6061 43.8C71.5 39.2591 61.7045 36.4311 51.4848 35.3939C41.25 34.347 31.0682 35.1561 21.2121 37.7879C18.8939 38.403 16.5151 37.028 15.8939 34.7061C15.2727 32.3871 16.6516 30.003 18.9773 29.3841C29.8485 26.4811 41.0909 25.597 52.3712 26.7439C63.6364 27.8841 74.4394 31.0061 84.4849 36.0159C86.6364 37.0871 87.5076 39.7 86.4394 41.847C85.6818 43.375 84.1439 44.2561 82.5454 44.2561Z" />
</svg>