<svg role="img" aria-labelledby="tidallogotitle tidallogodesc" version="1.1" class="listenlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="none" xml:space="preserve"
        width="24px" height="24px">
  <title id="tidallogotitle">Listen on Tidal</title>
  <desc id="tidallogodesc">Link to listen on Tidal</desc>
  <path fill="#fff" d="M66.6679 33.6638L50.0026 50.3327L33.3338 33.6638L50.0026 17.002L66.6679 33.6638Z" />
  <path fill="#fff" d="M66.6679 66.9995L50.0026 83.6683L33.3338 66.9995L50.0026 50.3306L66.6679 66.9995Z" />
  <path fill="#fff" d="M33.3342 33.6653L16.6653 50.3342L0 33.6653L16.6653 17L33.3342 33.6653Z" />
  <path fill="#fff" d="M100 33.6653L83.3346 50.3342L66.6658 33.6653L83.3346 17L100 33.6653Z" />
</svg>