@import '_tachyons';
@import '_variables';
@import '_typography';

html {
/*  font-family: 'Montserrat'; */
  font-family: Montserrat, Avenir, 'Avenir Next LT Pro', Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-size  : 16px;
}

.tho-white {
  color: var(--tho-white);
}

.tho-grey-hi {
  color: var(--tho-grey-hi);
}

.tho-grey-mid {
  color: var(--tho-grey-mid);
}

.tho-grey-lo {
  color: var(--tho-grey-lo);
}

.tho-grey-dark {
  color: var(--tho-grey-dark);
}

.tho-black {
  color: var(--tho-black);
}

.bg-tho-white {
  background-color: var(--tho-white);
}

.bg-tho-grey-hi {
  background-color: var(--tho-grey-hi);
}

.bg-tho-grey-mid {
  background-color: var(--tho-grey-mid);
}

.bg-tho-grey-lo {
  background-color: var(--tho-grey-lo);
}

.bg-tho-grey-dark {
  background-color: var(--tho-grey-dark);
}

.bg-tho-black {
  background-color: var(--tho-black);
}

.tho-title {
  /*  font-size     : 1.75rem;*/
  letter-spacing: 0.45rem;
}

.listenlinks {
  margin: 2rem 0 1.5rem;
}

.listenlinks a {
  padding-left: 0.75rem;
}

.listenlinks a:first-child {
  padding-left: 0;
}

.listenlogo {
  color : var(--tho-white);
  height: 1.5rem;
  width : 1.5rem;
}

@media (--breakpoint-large) {
  .bg-tho-grey-dark-l {
    background-color: var(--tho-grey-dark);
}
}

img {
  height: auto;
}