<!doctype html>

{{ with .Site.LanguageCode }}
<html lang="{{ . }}">
{{ end }}

<!-- call the header -->
{{ partial "head.html" . }}

<body class="bg-tho-grey-dark">

  <div class="flex-l">

    <!-- header section. splits to half screen at large -->
    <div class="w-100 w-50-l order-2 pb4-l bg-tho-grey-dark">
      {{ partial "header.html" . }}
    </div>

    <!-- nav links section. splits to half screen at large -->
    <div class="w-100 w-50-l flex-l items-center tc bg-tho-white order-1 pb4-l">
      <div class="w-60-l center ph2-l">
        {{ partial "nav.html" . }}
      </div>

    </div>

  </div>

  <!-- main content section. no classes/styling at present. sub sections do the half screen split at large so not needed here -->
  <article class="flex-l vh-100-l"><!--cf mb6 min-h-100-->
    {{ block "main" . }}{{ end }}
  </article>

</body>

</html>
