<head>
	{{ partial "head/meta.html" . }}

	{{ if .IsHome }}
	<title>{{ .Site.Title }}</title>
	{{ else if isset .Params "artists" }}
	<title>{{ .Title }} | {{ with .Params.artists }}{{ delimit . ", " " & " }}{{ end }}</title>
	{{ else }}
	<title>{{ .Title }} | {{ .Site.Title }}</title>
	{{ end }}

	{{ partial "head/og.html" . }}
	{{ partial "head/twitter.html" . }}
	{{ partial "head/favicon.html" . }}
	{{ partial "head/css.html" . }}

</head>