<nav class="pv1 flex justify-center justify-start-l">
  {{ range .Site.Menus.main }}
  <a class="mh3 mr4-l ml0-l f5 fw5 link lh-copy tho-black dim" href="{{ .URL }}">{{ .Name }}</a>
  {{ end }}
</nav>
