{{- define "main" -}}
<!--
{{ $homepage := "Home" }}
{{ with .Site.Menus.nav }}
  {{ range first 1 . }}
    {{ $homepage = .Name }}
  {{ end }}
{{ end }}
<h1>{{ $homepage }}</h1>

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    {{ partial "tags" . }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}
-->

<!-- bandcamp embed section. splits to half screen at large -->
<div class="w-100 w-50-l bg-tho-white pa1 pa3-l">
    <div class="w-70 w-60-l center pv1">
      <div class="mw7 mw6-ns center">
        <picture>
          <source type="image/avif" srcset="{{ absURL "/images/" }}tho_sq-w_200.avif, {{ absURL "/images/" }}tho_sq-w_300.avif 1.5x, {{ absURL "/images/" }}tho_sq-w_600.avif 3x" />
          <source type="image/webp" srcset="{{ absURL "/images/" }}tho_sq-w_200.webp, {{ absURL "/images/" }}tho_sq-w_300.webp 1.5x, {{ absURL "/images/" }}tho_sq-w_600.webp 3x" />
          <img srcset="{{ absURL "/images/" }}tho_sq-w_200.png, {{ absURL "/images/" }}tho_sq-w_300.png 1.5x, {{ absURL "/images/" }}tho_sq-w_600.png 3x" src="{{ absURL "/images/" }}tho_sq-w_600.png" width="600" height="600" class="w-100" alt="The House Organ logo which is a black and white image of an old harmonium/pump organ." />
        </picture>
      </div>
    </div>
</div>

<!-- main content section. splits to half screen at large -->
<div class="w-100 w-50-l pa2 pl2-l pr4-l pv3-l tho-white bg-tho-grey-dark overflow-y-scroll mb5">

  <!-- width constraining block for large only -->
  <div class="<!--w-80-l-->">


    <!-- article (album/artist etc) content -->

    <div class="<!--w-90-ns w-100-l-->">

      <div class="cf">
          {{ partial "albums/covergrid.html" . }}
          </div>

    </div>

  </div>

</div>





{{- end -}}
