{{- define "main" -}}

<!-- bandcamp embed section. splits to half screen at large -->
<div class="w-100 w-50-l bg-tho-white pa1 pa3-l">
    <div class="w-70 w-60-l center pv1">
      <div class="mw7 mw6-ns center">
        {{ with .Params.embed }}
          {{ partial "albums/bcembed.html" . }}
        {{ end }}
      </div>
    </div>
</div>

<!-- main content section. splits to half screen at large -->
<div class="w-100 w-50-l pa3 tho-white bg-tho-grey-dark tc tl-l overflow-y-scroll mb5">

  <!-- width constraining block for large only -->
  <div class="w-80-l">

    <!-- article header block for spacing -->
    <div class="pv2">

      <!-- article (album) title. note custom letter spacing -->
      <h1 class="tc tl-l fw5 lh-solid ma2 ma0-ns f3 tho-title">
        <a class="link tho-white" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>

      <!-- article (artist) sub-title -->
      {{ with .Params.artists }}
        <h2 class="tc tl-l f4 fw5 lh-solid ma2 ma0-ns tho-grey-hi">{{ delimit (apply (apply . "partial" "artistlinks" ".") "chomp" ".") ", " " & " | safeHTML }}</h2>
      {{ end }}

    </div>

    <!-- listen links section -->
    {{ with $Album := . }}
      {{ with $Album.Params.listen }}
        {{ partial "albums/listenlinks.html" (dict "Listen" . "Album" $Album) }}
      {{ end }}
    {{ end }}

    <!-- article (album/artist etc) content -->

    <div class="w-90-ns w-100-l center tc tl-l">
      {{ .Content | replaceRE "<p>" "<p class=\"f6 lh-copy\">" | replaceRE "<a href" "<a class=\"link tho-grey-mid dim underline-hover\" href" | safeHTML}}

      <!-- not figured out how to display year and cc yet -->
      <p>{{ .Params.year }}</p>
      <p>{{ .Params.cc }}</p>
    </div>

  </div>

</div>

{{- end -}}
